<div class="AuPair-section-1">

    <div class="images-box">
        <img src="images/ban.jpg" alt="images">
    </div>

    <div class="mbox">        

        <div class="title">

            <h1>Програма <span>Au Pair</span></h1>

            <p>Вчись, Подорожуй, Працюй</p>

        </div>

        <div class="wrapp">

            <div class="text">

                <p><b>Au Pair</b> (від фр. Séjour au pair, читається «о пер») — програма культурного обміну, яка дає можливість молоді подорожувати та жити в іншій країні, мешкаючи у іншій родині. В обмін на особисте місце проживання, харчування та кишенькові гроші учасник програми доглядає за дітьми та виконує легку домашню роботу. Термін перебування у родині, як правило, становить один рік. Також терміном Au Pair називають учасника програми.</p>

                <p> Де-факто така традиція обміну існує з кінця Другої світової війни, а де-юре Радою Європи прийнято «Європейська угода про Au Pair пристрій» 24 листопада 1969 року в Стразбурзі (European Agreement on «au pair» Placement). Даний європейський документ створив та регулює програму «Au Pair» в Європі.</p>

                <a href="#call-popup" class="js_popup">Більш детальніше</a>

            </div>

            <div class="images-box">
                <img src="images/pair.png" alt="image">
            </div>

        </div>

    </div>

</div>