<div class="AuPair-section-2">

    <div class="mbox">

        <div class="row">

            <h2>Від учасників програми зазвичай вимагаються:</h2>

            <ul>

                <li>Хороші базові знання мови приймаючої країни</li>

                <li>Мінімальний вік 18 років, найвищий вік — 26 років (можливі винятки)</li>

                <li>Неодружений та без дітей</li>

                <li>Перевага надається тим хто не палить.</li>

                <li>Водійське посвідчення не обов’язкове, але бажане в сільській місцевості.</li>

            </ul>

        </div>

        <div class="row">

            <h2>Учасникам надається:</h2>

            <ul>

                <li>Безкоштовне харчування та проживання в окремій кімнаті, а також медичне страхування.</li>

                <li>«Кишенькові гроші» 340€ — Голландія та 450€ — Бельгія в місяць.</li>

                <li>Вільний час для відвідування мовних курсів та культурних заходів.</li>

                <li>Мінімум один вільний день на тиждень.</li>

                <li>Можливість безкоштовно подорожувати разом з приймаючою сім'єю.</li>

            </ul>

        </div>

    </div>
</div>