<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">

    <div class="mbox">

        <div class="wrapp">

            <div class="logo">
                <a href="javascript:void(0);">
                    <img src="images/logo-footer.png" alt="logo">
                </a>
            </div>

            <div class="text-box">

                <div class="col">

                    <h3 class="adress">Адреса:</h3>

                    <p>м.Хмельницький<br>вул. Подільська 93/1<br> Бізнес -центр "КУБ"<br>Офіс <b>209</b></p>

                </div>

                <div class="col">

                    <h3 class="phone">Телефон:</h3>

                    <a href="tel:+380967556321">
                        +38(096) 755-63-21
                    </a>
                    
                </div>

                <div class="col">

                    <h3 class="post">Пошта:</h3>

                    <a href="mailto:aupairkhmelnytsky@ukr.net">
                        aupairkhmelnytsky@ukr.net
                    </a>

                    <h3 class="skype">Скайп:</h3>

                    <p>EuroHouse</p>
                    
                </div>

            </div>

        </div>

    </div>

</footer>
<!-- /FOOTER -->
