<!-- HEADER -->
<header class="header">

    <div class="mbox">

        <div class="top-row">
            <div class="tel">
                <a href="tel:+380967556321">
                    <b>+38(096)</b>-755-63-21
                </a>
            </div>
        </div>

        <div class="mid-row">
            <div class="logo">
                <img src="images/logo.png" alt="logo">
            </div>
        </div>

        <div class="bot-row">

            <ul>
                <li>
                    <a href="javascript:void(0);">Головна</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Про Нас</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Навчання онлайн</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Програма Au Pair</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Ціни</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Контакти</a>
                </li>
            </ul>

        </div>

    </div>

</header>
<!-- /HEADER -->

