<div class="online-section-1">

    <div class="images-box">
        <img src="images/ban.jpg" alt="images">
    </div>

    <div class="mbox">        

        <div class="title">

            <h1>Вивчайте мови <span>онлайн</span></h1>

            <p>Цей курс є відмінним варіантом для людей,<br>які починають вивчення іноземної мови.</p>

        </div>

        <div class="text-box">

            <div class="row">

                <div class="text">

                    <h2>Навчання по Скайпу</h2>

                    <p>Якщо ви вирішили вивчити іноземну мову, то маєте вибір – вчити її на спеціалізованих курсах в групі з викладачем, або самостійно.<br>З <b>EVRO HOUSE</b> ви маєте таку можливість!!! Ми йдемо в ногу з розвитком технологій і пропонуємо вивчати іноземні мови по Скайпу. Навчання по Скайпу — це чудове рішення для зайнятих людей, а також для тих, хто живе за межами Хмельницького та України і оцінив наші привабливі умови та професіоналізм викладачів.</p>

                </div>

                <div class="img-box">

                    <img src="images/monitor.png" alt="img">

                </div>

            </div>

            <div class="row">                

                <div class="img-box">

                    <h2>У цього способу вивчення іноземної мови<br>є маса переваг:</h2>

                    <img src="images/image-guy.png" alt="img">

                </div>

                <div class="text">                    

                    <ul>

                        <li>
                            Вам не треба витрачати час на поїздки по місту (порахуйте, скільки часу Ви заощадите за місяць!)
                        </li>
                            
                        <li>
                            Ви можете скласти свій власний зручний графік занять, в тому числі під час Вашої обідньої перерви.
                        </li>

                        <li>
                            Ви можете навчатися, навіть якщо Ви змушені перебувати вдома (декрет, хвороба, тощо)
                        </li>

                        <li>
                            Ви  не прив’язані до одного місця занять — а значить можете займатися навіть коли подорожуєте — з будь-якої точки земної кулі, де є доступ до Інтернету.
                        </li>

                        <li>
                            Під час заняття Ви знаходитесь в знайомому Вам місці, що допомагає Вам розслабитися і відчувати себе більш невимушено, а це — один із секретів успіху вивчення іноземних мов.
                        </li>

                    </ul>

                </div>               

            </div>

            <div class="row">                

                <div class="text">                    

                    <ul>

                        <li>
                            Вам не треба витрачати час на поїздки по місту (порахуйте, скільки часу Ви заощадите за місяць!)
                        </li>
                            
                        <li>
                            Ви можете скласти свій власний зручний графік занять, в тому числі під час Вашої обідньої перерви.
                        </li>

                        <li>
                            Ви можете навчатися, навіть якщо Ви змушені перебувати вдома (декрет, хвороба, тощо)
                        </li>

                    </ul>

                </div>

                <div class="img-box">
                    <img src="images/image-guys.png" alt="img">
                </div>

            </div>

            <div class="row">  
                
                <div class="img-box">
                    <img src="images/notebook.png" alt="img">
                </div>

                <div class="text">                    

                    <ul>

                        <li>
                            Вам не треба витрачати час на поїздки по місту (порахуйте, скільки часу Ви заощадите за місяць!)
                        </li>
                            
                        <li>
                            Ви можете скласти свій власний зручний графік занять, в тому числі під час Вашої обідньої перерви.
                        </li>

                    </ul>

                    <p>Запишіться на безкоштовне пробне заняття, щоб побачити, як це працює!</p>

                    <a href="javascript:void(0);">Запис на безкоштовне заняття</a>

                </div>

            </div>

            <div class="bot-text">
                <p>Що ж, все дуже просто: величезне бажання, трохи часу<br>для постійних занять і результат не за горами!!!</p>
            </div>

        </div>

    </div>

</div>