<div class="price-section">

    <div class="images-box">
        <img src="images/ban.jpg" alt="images">
    </div>

    <div class="mbox">        

        <div class="title">

            <h1>Ціни <span>Euro House</span></h1>

            <p>Оберіть пакет, який Вам до вподоби</p>

        </div>

        <div class="row top-row">

            <div class="price-item">

                <img src="images/group-1.png" alt="image">

                <h3>Індивідуальне навчання</h3>

                <p><b>80</b> грн / 1 год</p>

            </div>

            <div class="price-item">

                <img src="images/group-2.png" alt="image">

                <h3>Група з 2-х чоловік</h3>

                <p><b>70</b> грн / 1 год</p>

            </div>

            <div class="price-item">

                <img src="images/group-3.png" alt="image">

                <h3>Група до 4-х чоловік</h3>

                <p><b>60</b> грн / 1 год</p>

            </div>

            <div class="price-item">

                <img src="images/group-4.png" alt="image">

                <h3>Група 5+</h3>

                <p><b>50</b> грн / 1 год</p>

            </div>

        </div>

        <div class="row bottom-row">

            <div class="price-item">

                <img src="images/group-5.png" alt="image">

                <h3>Діти</h3>

                <p><b>70</b> грн / 1 год</p>

            </div>

            <div class="price-item">

                <img src="images/group-6.png" alt="image">

                <h3>Підготовка до ЗНО</h3>

                <p><b>90</b> грн / 1 год</p>

            </div>

            <div class="price-item">

                <img src="images/group-7.png" alt="image">

                <h3>Програма Au Pair</h3>

                <p><b>350</b> Євро</p>

            </div>

        </div>

        <a href="#call-popup" class="js_popup">Більш детальніше</a>

    </div>

</div>