<div id="section-3" class="section-3">

    <div class="mbox">

        <div class="wrapp">

            <div class="text-box">

                <h2>Про Нас</h2>

                <p>Evro House – нова мовна школа міста Хмельницький. Назва «Evro House» , була вибрана не випадково,адже лише наша школа  надає можливість вивчення мов та проживання в країнах Європи безкоштовно!!! Кожному хто вдало закінчить курс вивчення мов за кордоном, надається допомога при вступі в європейські університети!</p>

                <p>Ми вирізняємося серед інших наявністю європейської системи вивчення, яка допомагає швидко запам’ятовувати та вивчати іноземні мови.  В нас можливе навчання діток у групах від 3-х років. </p>

                <p><b>Приходьте в Evro House, та відчуйте себе в Європі, як у дома!!!</b></p>

            </div>

            <div class="img-box">
                <img src="images/books.png" alt="image">
            </div>

        </div>

    </div>

</div>