<div class="section-1">

    <div class="slide-box">

        <div class="owl-carousel bg-slide">

            <div class="bg-slide-item">
                <img src="images/slide-bg-1.jpg" alt="bg">
            </div>

            <div class="bg-slide-item">
                <img src="images/slide-bg-2.jpg" alt="bg">
            </div>

            <div class="bg-slide-item">
                <img src="images/slide-bg-3.jpg" alt="bg">
            </div>

        </div>

    </div>

    <div class="tex-box">
        
        <div class="mbox">

            <div class="title-box">

                <h2>МОВНА ШКОЛА</h2>
                <h3><span>EURO</span> HОUSE</h3>
                <p>твій крок у Європу!</p>

                <a href="javascript:void(0);">Запис на безкоштовне заняття</a>

            </div>

        </div>

    </div>

</div>